@model VCodify.Models.EnquiryVM;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">Contact Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Contact</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Fact Start -->
<div class="container-fluid bg-secondary py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-primary counter-value">99</h1>
                    <h5 class="text-white mt-1">Success in getting happy customer</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-primary counter-value">25</h1>
                    <h5 class="text-white mt-1">Thousands of successful business</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-primary counter-value">120</h1>
                    <h5 class="text-white mt-1">Total clients who love HighTech</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-primary counter-value">5</h1>
                    <h5 class="text-white mt-1">Stars reviews given by satisfied clients</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->
<!-- Contact Start -->
<div class="container-fluid py-5 mb-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="text-primary">Get In Touch</h5>
            <h1 class="mb-3">Contact Information</h1>
            <p class="mb-2">We’re here to assist with inquiries and project needs. Contact our experts for tailored IT solutions and innovative results.</p>
        </div>
        <div class="contact-detail position-relative p-5">
            <div class="row g-5 mb-5 justify-content-center">
                <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".3s">
                    <div class="d-flex bg-light p-3 rounded" style="height: 165px;">
                        <div class="flex-shrink-0 btn-square bg-secondary rounded-circle"
                             style="width: 64px; height: 64px;">
                            <i class="fas fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h4 class="text-primary">Address</h4>
                            <a href="https://goo.gl/maps/Zd4BCynmTb98ivUJ6" target="_blank" class="h6">
                                SCO
                                198-199-200, 1st Floor Sector 34 A, Chandigarh Pincode : 160022
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".5s">
                    <div class="d-flex bg-light p-3 rounded" style="height: 165px;">
                        <div class="flex-shrink-0 btn-square bg-secondary rounded-circle"
                             style="width: 64px; height: 64px;">
                            <i class="fa fa-phone text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h4 class="text-primary">Call Us</h4>
                            <a class="h6" href="tel:+0123456789" target="_blank">+91 774 (007) 1599</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".7s">
                    <div class="d-flex bg-light p-3 rounded" style="height: 165px;">
                        <div class="flex-shrink-0 btn-square bg-secondary rounded-circle"
                             style="width: 64px; height: 64px;">
                            <i class="fa fa-envelope text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h4 class="text-primary">Email Us</h4>
                            <a class="h6" href="mailto:info@example.com" target="_blank">hr@vcodifytechnologies.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay=".3s">
                    <div class="p-5 h-100 rounded contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6859.668952736405!2d76.76172235942076!3d30.72305339793127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sSCO%20198-199-200%2C%201st%20Floor%20Sector%2034%20A%2C%20Chandigarh%20Pincode%20%3A%20160022!5e0!3m2!1sen!2sin!4v1734277039492!5m2!1sen!2sin"
                                width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay=".5s">
                    <div class="p-5 rounded contact-form">
                        @using (Html.BeginForm("Enquiry", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="mb-4">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control border-0 py-3", placeholder = "Your Name" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="mb-4">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control border-0 py-3", placeholder = "Your Email" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="mb-4">
                                @Html.TextBoxFor(model => model.Project, new { @class = "form-control border-0 py-3", placeholder = "Project" })
                                @Html.ValidationMessageFor(model => model.Project, "", new { @class = "text-danger" })
                            </div>

                            <div class="mb-4">
                                @Html.TextAreaFor(model => model.Message, new { @class = "w-100 form-control border-0 py-3", rows = "6", cols = "10", placeholder = "Message" })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>

                            <button class="btn bg-primary text-white py-3 px-5" type="submit">Send Message</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
